<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('components/utility.ejs') %>
    <title>Order Receieve</title>
</head>
<body class="bg-[#0a0a0a] lg:px-20">
    <!-- navbar -->
    <%- include('components/navbar.ejs') %>
    <% let doneOrder = 0; %>
    <% let notDone = 0; %>
    <% for (let i = 0; i < order.length; i++) { %>
        <% if (order[i].status == "done") { %>
            <% doneOrder++; %>
        <% } else { %>
            <% notDone++; %>
        <% } %>
    <% } %>

    <div class="container mx-auto text-center pt-10 pb-3 font-semibold text-gray-400  text-3xl lg:text-4xl">
        New Order (<span><%= notDone %></span> items)
    </div>
    <div class="container mx-auto lg:px-4 mb-4 min-w-[490px]">
        <div class="flex flex-col">
            <!-- order header -->
            <div class="flex items-center bg-black text-white gap-4 py-2 px-4 rounded-[0.375rem_0.375rem_0_0] whitespace-nowrap font-semibold border-t border-x">
                <div class="w-1/6 text-center">Order ID</div>
                <div class="w-1/6 text-center">Real Name</div>
                <div class="w-1/6 text-center">Total</div>
                <div class="w-1/4 text-center">Status</div>
                <div class="w-1/6 text-center">Date/Time</div>
                <div class="w-1/6 text-center">Operation</div>
            </div>
            <!-- order item -->

            <% if(order.length == 0) { %>
                <div class="flex justify-center items-center bg-black py-4 rounded-[0_0_0.375rem_0.375rem] border">
                    <h1 class="text-xl font-semibold text-gray-400">Don't have any Order yet.</h1>
                </div>
            <% } %>
            <% if(order.length > 0) { %>

                <% for (let i = 0; i < order.length; i++) { %>
                    <% let orderDate = new Date(order[i].createdAt); %>
                    <% let strDate = orderDate.getDate().toString().padStart(2,'0') + "/" + (orderDate.getMonth() + 1).toString().padStart(2,'0') + "/" + (parseInt(orderDate.getFullYear()) + 543); %>
                    <% let strTime = orderDate.getHours().toString().padStart(2,'0') + ":" + orderDate.getMinutes().toString().padStart(2,'0') + ":" + orderDate.getSeconds().toString().padStart(2,'0'); %>
                    <% if (order[i].status != "done") { %> 
                        <%- include('components/orderItem.ejs', {
                            orderId: order[i].orderId,
                            user_id: order[i].user_id,
                            totalAmount: order[i].totalAmount,
                            status: order[i].status,
                            subtotal: order[i].subtotal,
                            fname: userArray[i],
                            date: strDate,
                            time: strTime
                        }) %>
                    <% } %>
                <% } %>
            <% } %>

            <!-- divider cart items -->
            <div class="w-full py-[1px] rounded-[0_0_0.375rem_0.375rem] bg-white mb-4 border"></div>
        </div>
    </div>

    <div class="container mx-auto text-center pt-10 pb-3 font-semibold text-gray-400  text-3xl lg:text-4xl">
        Done Order (<span><%= doneOrder %></span> items)
    </div>
    <div class="container mx-auto lg:px-4 mb-4 min-w-[490px]">
        <div class="flex flex-col">
            <!-- order header -->
            <div class="flex items-center bg-black text-white gap-4 py-2 px-4 rounded-[0.375rem_0.375rem_0_0] whitespace-nowrap font-semibold border-t border-x">
                <div class="w-1/4 text-center">Order ID</div>
                <div class="w-1/4 text-center">Real Name</div>
                <div class="w-1/4 text-center">Total</div>
                <div class="w-1/4 text-center">Status</div>
                <div class="w-1/4 text-center">Date/Time</div>
            </div>
            <!-- order item -->

            <% if(order.length == 0) { %>
                <div class="flex justify-center items-center bg-white py-4 rounded-[0_0_0.375rem_0.375rem] border">
                    <h1 class="text-xl font-semibold">Don't have any Order yet.</h1>
                </div>
            <% } %>
            <% if(order.length > 0) { %>
                <% for (let i = 0; i < order.length; i++) { %>
                    <% let orderDate = new Date(order[i].createdAt); %>
                    <% let strDate = orderDate.getDate().toString().padStart(2,'0') + "/" + (orderDate.getMonth() + 1).toString().padStart(2,'0') + "/" + (parseInt(orderDate.getFullYear()) + 543); %>
                    <% let strTime = orderDate.getHours().toString().padStart(2,'0') + ":" + orderDate.getMinutes().toString().padStart(2,'0') + ":" + orderDate.getSeconds().toString().padStart(2,'0'); %>
                    <% if (order[i].status == "done") { %> 
                        <%- include('components/orderItem.ejs', {
                            orderId: order[i].orderId,
                            user_id: order[i].user_id,
                            totalAmount: order[i].totalAmount,
                            status: order[i].status,
                            subtotal: order[i].subtotal,
                            fname: userArray[i],
                            date: strDate,
                            time: strTime
                        }) %>
                    <% } %>
                <% } %>
            <% } %>

            <!-- divider cart items -->
            <div class="w-full py-[1px] rounded-[0_0_0.375rem_0.375rem] bg-white mb-4 border"></div>
        </div>
    </div>

    <script src="../javascript/script.js"></script>
</body>
</html>