<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('components/utility.ejs') %>
    <title>Document</title>
</head>
<body class="bg-[#0a0a0a] px-20">
    <!-- navbar -->
    <%- include('components/navbar.ejs') %>
    <% if (updateError) { %>
        <% if (updateErrorMessage.indexOf("!username") !== -1) { %>
            <script>
                alert("Username has been taken\nPlease use another username");
            </script>
        <% }if (updateErrorMessage.indexOf("!email") !== -1) { %>
            <script>
                alert("Email has been taken\nPlease use another email");
            </script>
        <% } if (updateErrorMessage.indexOf("!phone") !== -1) { %>
            <script>
                alert("Phone has been taken\nPlease use another phone");
            </script>
        <% } %>
    <% } else { %>
        <% if (updateErrorMessage !== "") { %>
            <script>
                alert("Profile has been updated");
            </script>
        <% } %>
    <% } %>

    <div class="container mx-auto text-center py-10 font-semibold text-gray-400 text-4xl">
        Personal Data
    </div>
    <form action="/editprofile" method="post" class="w-96 min-w-96 mx-auto bg-black text-white flex justify-center items-center p-4 rounded-md border flex flex-col gap-2 mb-4 text-lg">
        <div class="space-y-2 w-full ">
            <label for="fname" class="font-medium leading-none">First Name</label>
            <input type="text" name="fname" id="fname" autofocus class="flex h-10 w-full rounded-md
            border border-gray-100 bg-gray-50 px-3 py-2 focus:outline-none text-black focus:border-amber-300 transition-all ease-in-out focus:border-2" value="<%= user.fname %>">
        </div>
        <div class="space-y-2 w-full">
            <label for="lname" class="font-medium leading-none">Last Name</label>
            <input type="text" name="lname" id="lname" class="flex h-10 w-full rounded-md
            border border-gray-100 bg-gray-50 px-3 py-2 focus:outline-none text-black focus:border-amber-300 transition-all ease-in-out focus:border-2" value="<%= user.lname %>">
        </div>
        <div class="space-y-2 w-full">
            <label for="username" class="  font-medium leading-none">Username</label>
            <input type="text" name="username" id="username" class="flex h-10 w-full rounded-md
            border border-gray-100 bg-gray-50 px-3 py-2 focus:outline-none text-black focus:border-amber-300 transition-all ease-in-out focus:border-2" value="<%= user.username %>">
        </div>
        <div class="space-y-2 w-full">
            <label for="password" class="  font-medium leading-none">Password</label>
            <input type="text" name="password" id="password" class="flex h-10 w-full rounded-md
            border border-gray-100 bg-gray-50 px-3 py-2 focus:outline-none text-black focus:border-amber-300 transition-all ease-in-out focus:border-2" value="<%= user.password %>">
        </div>
        <div class="space-y-2 w-full">
            <label for="email" class="  font-medium leading-none">Email</label>
            <input type="text" name="email" id="email" class="flex h-10 w-full rounded-md
            border border-gray-100 bg-gray-50 px-3 py-2 focus:outline-none text-black focus:border-amber-300 transition-all ease-in-out focus:border-2" value="<%= user.email %>">
        </div>
        <div class="space-y-2 w-full">
            <label for="phone" class="  font-medium leading-none">phone</label>
            <input type="text" name="phone" id="phone" class="flex h-10 w-full rounded-md
            border border-gray-100 bg-gray-50 px-3 py-2 focus:outline-none text-black focus:border-amber-300 transition-all ease-in-out focus:border-2" value="<%= user.phone %>">
        </div>
        <div class="space-y-2 w-full">
            <label for="address" class="  font-medium leading-none">Address</label>
            <input type="text" name="address" id="address" class="flex h-10 w-full rounded-md
            border border-gray-100 bg-gray-50 px-3 py-2 focus:outline-none text-black focus:border-amber-300 transition-all ease-in-out focus:border-2" value="<%= user.address %>">
        </div>

        <div class="w-full flex justify-center items-center gap-4 mt-2">
            <input type="submit" value="Save" class="w-full h-10 rounded-md border hover:border-black hover:shadow-lg hover:bg-green-600
            hover:text-white text-green-400 focus:outline-none cursor-pointer transition-all duration-300 ease-in-out ">
            <input type="reset" value="Clear" class="w-full h-10 rounded-md border hover:border-black hover:shadow-lg hover:bg-red-600
            text-red-400 hover:text-white focus:outline-none cursor-pointer transition-all duration-300 ease-in-out">
        </div>

    </form>



</body>
</html>