<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Bread ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Bread Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Price
                </th>
                <th scope="col" class="px-6 py-3">
                    <a href="/editbread">edit</a>
                </th>
                <th scope="col" class="px-6 py-3">
                    <a href="/editbread">delete</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <% for (var i = 1; i < num; i++) { %>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <%= console.log(name) %>
                </th>
                <td class="px-6 py-4">
                    <%= name %>
                </td>
                <td class="px-6 py-4">
                    <%= name %>
                </td>
                <td class="px-6 py-4">
                    <%= name %>
                </td>
                <td class="px-6 py-4">
                    <%= name %>
                </td>
            </tr>
            <% } %>
            
        </tbody>
</table>
</div>