<form action="/addtocart" method="post" class="w-full p-4">
    <% if(user != null) { %>
    <input class="hidden" type="number" name="userId" id="userId" value="<%= user.data.userId %>">
    <% } %>
    <input class="hidden" type="number" name="cart_id" id="cart_id" value="<%= user.data.userId %>">
    <input class="hidden" type="number" name="breadId" id="breadId" value="<%= breadId %>">
    <div class="bg-white border hover:shadow-lg transition-all rounded-md overflow-hidden cursor-pointer">
        <div id="picture" class="flex items-center justify-center w-full h-48 overflow-hidden">
            <img src="<%= breadimg %>" class="w-full object-cover"/>
        </div>
        <div class="bg-white px-5">
            <h1 class="text-xl font-medium text-center"><%= name %></h1>
            <div class="flex justify-between items-center">
                <p class="text-lg font-medium text-[#222]">฿ <span class="text-red-500 font-semibold"><%= price %></span></p>

                <div class="flex gap-2">
                    <label for="amount" class="font-medium">จำนวน</label>
                    <input type="number" name="quantity" id="amount" class="bg-gray-50 border w-12 text-center rounded-md" value="1">
                </div>
            </div>
        </div>
        <input type="submit" class="w-full bg-[#222] text-white py-2 mt-2  hover:text-[#F4BF14] transition-all cursor-pointer" value="เพิ่มลงตะกร้า">
    </div>
</form>