<!-- order items -->
<div class="flex items-center bg-black text-white gap-4 pt-2 pb-6 border-t border-x hover:bg-gray-100 hover:text-black transition-all text-md flex flex-col ">
    <div class="w-full flex justify-center pt-5">
        <div class="w-1/4 text-center"><%= orderId %></div>
        <div class="w-1/4 text-center"><%= fname %></div>
        <div class="w-1/4 text-center"><%= totalAmount %>฿</div>
        <div class="w-1/4 text-center"><%= date %><p><%= time %></p></div>
    </div>
    <div class="w-full rounded-md overflow-hidden">
        <% for (let i = 0; i < orderDetail.length; i++) { %>
            <% let breadData = bread[orderDetail[i].bread_id - 1]; %>
            <%- include('orderBread.ejs', {
                breadimg: breadData.breadImg,
                name: breadData.name,
                price: breadData.price,
                quantity: orderDetail[i].quantity,
                subtotal: orderDetail[i].subtotal,
                from: "myorderItem"
            }) %>
        <% } %>
    </div>
</div>