<!-- order items -->
<div class="flex items-center bg-white gap-4 py-2 px-4 border-t border-x hover:bg-gray-100 transition-all text-md">
    <!-- <div class="w-1/6 flex items-center gap-4">
        <div>
            <div class="text-md lg:text-lg"><%= orderId %></div>
        </div>
    </div> -->
    <div class="w-1/6 text-center"> <%= orderId %></div>
    <div class="w-1/6 text-center"> <%= user_id %></div>
    <div class="w-1/6 text-center"><%= totalAmount %>฿</div>
    <div class="w-1/4 text-center">฿ <%= status %></div>
    <div class="w-1/6 flex justify-center items-center">
        <a href="" class="bg-red-500 text-white py-1 px-2 rounded-md hover:text-[#F4BF14] transition-all cursor-pointer">delete</a>
    </div>
</div>